:root {
  --color-primary-1:hsl(300, 43%, 22%);
  --color-primary-2:hsl(333, 80%, 67%);
  --color-secondary:hsl(303, 10%, 53%);
  --color-secondary-light:hsl(300, 24%, 96%);
  --color-white:hsl(0, 0%, 100%); }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 77em) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 68.75em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.5rem;
  background-color: var(--color-white);
  min-height: 100vh; }

.u-margin-left-small {
  transform: translateX(4rem); }
  @media only screen and (max-width: 37.5em) {
    .u-margin-left-small {
      transform: translateX(0rem); } }

.u-margin-left-medium {
  transform: translateX(8rem); }
  @media only screen and (max-width: 37.5em) {
    .u-margin-left-medium {
      transform: translateX(0rem); } }

.u-margin-bottom-small {
  transform: translateY(-2rem); }
  @media only screen and (max-width: 37.5em) {
    .u-margin-bottom-small {
      transform: translateY(0rem); } }

.u-margin-top-small {
  transform: translateY(2rem); }
  @media only screen and (max-width: 37.5em) {
    .u-margin-top-small {
      transform: translateY(0rem); } }

.container {
  max-width: 135rem;
  margin: 6rem auto;
  position: relative;
  border: 1px solid white;
  box-shadow: 0rem 2rem 4rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 37.5em) {
    .container {
      max-width: 100%;
      width: 100%;
      margin: 0; } }
  .container::after {
    content: url(../images/bg-pattern-top-desktop.svg);
    position: absolute;
    top: 0;
    left: 0; }
    @media only screen and (max-width: 37.5em) {
      .container::after {
        content: url(../images/bg-pattern-top-mobile.svg); } }
  .container::before {
    content: url(../images/bg-pattern-bottom-desktop.svg);
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1;
    font-size: 0; }
    @media only screen and (max-width: 37.5em) {
      .container::before {
        content: url(../images/bg-pattern-bottom-mobile.svg); } }

.top {
  display: flex;
  margin: 10rem;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .top {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 8rem 3rem 5rem 3rem; } }

.section__main {
  flex: 0 0 40%; }

.reviews {
  display: flex;
  margin: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .reviews {
      margin: 3rem;
      flex-direction: column; } }

.section__main-heading {
  color: var(--color-primary-1);
  font-size: 5rem;
  line-height: 1.2;
  font-weight: 700; }
  @media only screen and (max-width: 37.5em) {
    .section__main-heading {
      margin-bottom: 2.5rem;
      font-size: 3.5rem;
      font-weight: 700; } }

.section__main-paragraph {
  margin-top: .5rem;
  font-size: 1.5rem;
  line-height: 2;
  color: var(--color-secondary);
  font-weight: 500; }
  @media only screen and (max-width: 37.5em) {
    .section__main-paragraph {
      margin-bottom: 3rem;
      font-size: 1.8rem;
      line-height: 1.8;
      font-weight: 300; } }

@media only screen and (max-width: 37.5em) {
  .rating {
    align-self: stretch; } }

.rating__list {
  list-style: none;
  padding-left: 17.5rem; }
  @media only screen and (max-width: 37.5em) {
    .rating__list {
      padding-left: 0; } }

.rating__item {
  background-color: var(--color-secondary-light);
  padding: 2rem 3rem;
  border-radius: 5px;
  font-size: 1.6rem;
  color: var(--color-primary-1);
  font-weight: 500;
  text-transform: capitalize;
  display: flex; }
  @media only screen and (max-width: 37.5em) {
    .rating__item {
      flex-direction: column;
      padding: 2rem 3rem; } }

.rating__item:not(:last-child) {
  margin-bottom: 1.8rem; }

.rating__stars {
  margin-right: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .rating__stars {
      margin-bottom: .5rem; } }

.star {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  background-image: url(../images/icon-star.svg);
  background-size: cover; }

.review {
  background-color: var(--color-primary-1);
  border-radius: 10px;
  overflow: hidden;
  padding: 3rem; }
  @media only screen and (max-width: 37.5em) {
    .review {
      margin-bottom: 3rem; } }
  .review__user-box {
    padding-bottom: 3rem;
    display: flex;
    align-items: center; }
  .review__user-image {
    height: 5rem;
    width: 5rem;
    border-radius: 50%; }
  .review__user-details {
    margin-left: 2rem;
    line-height: 1.5; }
  .review__user-name {
    color: var(--color-secondary-light);
    font-size: 1.6rem; }
  .review__user-verification {
    color: var(--color-primary-2);
    font-size: 1.5rem;
    font-weight: 500; }
  .review__user {
    color: var(--color-secondary-light); }
    .review__user::before {
      content: '\201C';
      display: inline-block;
      color: var(--color-secondary-light); }
    .review__user::after {
      content: '\201D';
      display: inline-block;
      color: var(--color-secondary-light); }

.review:not(:last-child) {
  margin-right: 3.5rem; }
  @media only screen and (max-width: 37.5em) {
    .review:not(:last-child) {
      margin-right: 0; } }
